---
layout: default
---
<div class="container">

<h2>FOIA 18F</h2>

<input type="text" id="search" placeholder="Cerca un atto..." class="form-control mb-3">

<div id="atti">

{% for post in site.posts %}
<a href="{{ post.url }}" class="atto-link">
    <div class="col-12 amministrazione amministrazione-primary atto"
         data-search="{{ post.title | downcase }} {{ post.tipologia | downcase }} {{ post.ufficio | downcase }} {{ post.oggetto | downcase }}">
        
        <div class="row">
            <div class="col-md-4 fw-bold">Tipologia dell'atto:</div>
            <div class="col-md-8">{{ post.tipologia }}</div>
        </div>

        <div class="row">
            <div class="col-md-4 fw-bold">Ufficio:</div>
            <div class="col-md-8">{{ post.ufficio }}</div>
        </div>

        <div class="row">
            <div class="col-md-4 fw-bold">Oggetto:</div>
            <div class="col-md-8">{{ post.oggetto }}</div>
        </div>

        <div class="row">
            <div class="col-md-4 fw-bold">Periodo di pubblicazione:</div>
            <div class="col-md-8">{{ post.pubblicazione }}</div>
        </div>

        <div class="row">
            <div class="col-md-4 fw-bold">Numero atto:</div>
            <div class="col-md-8">{{ post.numero }}</div>
        </div>
    </div>
</a>
{% endfor %}

</div>
</div>
